<nav-bar></nav-bar>
<h1>Your Inventory</h1>

<button class="btn btn-success"
        ng-click="vm.showAddInventory = !vm.showAddInventory">Post New Item
</button>
<div ng-if="vm.showAddInventory">
    <form>
        <div class="form-group">
            <label for="newItemName">Name:</label>
            <input type="text" id="newItemName"
                   ng-model="vm.newItem.name" class="form-control">
            <label for="newItemPrice">Price:</label>
            <input type="number" id="newItemPrice"
                   ng-model="vm.newItem.price" class="form-control">
            <label for="newItemQuantity">Quantity:</label>
            <input type="number" id="newItemQuantity"
                   ng-model="vm.newItem.quantity" class="form-control">
            <label for="newItemDescription">Description:</label>
            <br>
            <textarea id="newItemDescription" cols="40" rows="10"
                      ng-model="vm.newItem.description" class="form-control"></textarea>
        </div>
        <input class="btn btn-block btn-primary" type="button"
               value="Save" ng-click="vm.createItem()">
    </form>
</div>

<h3>Items On Sale</h3>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th width="5%">#</th>
            <th>Name</th>
            <th width="50%">Description</th>
            <th width="8%">Price</th>
            <th width="8%">Quantity</th>
            <th width="15%">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="inv in vm.inventory">
            <td>{{inv.id}}</td>
            <td ng-if="!inv.edit">{{inv.name}}</td>
            <td ng-if="inv.edit">
                <input type="text" ng-model="inv.name">
            </td>
            <td ng-if="!inv.edit">{{inv.description}}</td>
            <td ng-if="inv.edit">
                <textarea cols="60" rows="5" ng-model="inv.description"></textarea>
            </td>
            <td ng-if="!inv.edit">{{inv.price | currency:"$":0}}</td>
            <td ng-if="inv.edit">
                <input type="number" style="width:4em" ng-model="inv.price">
            </td>
            <td ng-if="!inv.edit">{{inv.quantity}}</td>
            <td ng-if="inv.edit">
                <input type="number" style="width:4em" ng-model="inv.quantity">
            </td>
            <td>
                <button ng-if="!inv.edit" class="btn btn-primary btn-sm"
                        ng-click="inv.edit=true">edit</button>
                <button ng-if="inv.edit" class="btn btn-success btn-sm"
                        ng-click="vm.updateItem(inv); inv.edit=false">save</button>
                <button class="btn btn-danger btn-sm"
                        ng-click="vm.deleteItem(inv.id)">delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
