<nav-bar></nav-bar>
<h1>History of Orders</h1>
<div>
    <div class="panel panel-default" ng-repeat="order in vm.orders">
        <div class="panel-heading">
            <h3 class="panel-title">{{order.createTime}}</h3>
            {{order.address}}
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in order.items">
                    {{item}}
                </li>
            </ul>
        </div>
    </div>
</div>
