<nav-bar></nav-bar>
<h1>Profile</h1>
<h4>{{vm.greeting}}</h4>
<h3>Basic Information</h3>
<form>
    <div class="form-group">
        <label for="user_email">Email</label>
        <input class="form-control" type="text" id="user_email" ng-model="vm.user.email">
    </div>
    <div class="form-group">
        <label for="user_dob">Age</label>
        <input class="form-control" type="number" id="user_dob"
               ng-model="vm.user.age">
    </div>
    <div class="form-group">
        <label for="user_first">First Name</label>
        <input class="form-control" type="text" id="user_first" ng-model="vm.user.first">
        <label for="user_middle">Middle Name</label>
        <input class="form-control" type="text" id="user_middle" ng-model="vm.user.middle">
        <label for="user_last">Last Name</label>
        <input class="form-control" type="text" id="user_last" ng-model="vm.user.last">
    </div>
    <input type="button" ng-click="vm.updateProfile()" value="Save"
           class="btn btn-primary btn-block">
</form>

<h3 id="shippingAddresses">Addresses</h3>
<button class="btn btn-sm btn-default"
        ng-click="vm.showAddAddress = !vm.showAddAddress">add address
</button>
<form ng-if="vm.showAddAddress">
    <div class="form-group">
        <label for="addrName">Name</label>
        <input type="text" id="addrName" class="form-control"
               ng-model="vm.newAddress.name" required>
    </div>
    <div class="form-group">
        <label for="addrPhone">Phone</label>
        <input type="tel" id="addrPhone" class="form-control"
               ng-model="vm.newAddress.phone" required>
    </div>
    <div class="form-group">
        <label for="addrPostal">Postal</label>
        <input type="text" id="addrPostal" class="form-control"
               ng-model="vm.newAddress.postal" required>
        <label for="addrStreet">Street</label>
        <input type="text" id="addrStreet" class="form-control"
               ng-model="vm.newAddress.street" required>
        <label for="addrApt">Apt</label>
        <input type="text" id="addrApt" class="form-control"
               ng-model="vm.newAddress.apt" required>
        <label for="addrState">State</label>
        <input type="text" id="addrState" class="form-control"
               ng-model="vm.newAddress.state" required>
    </div>
    <div class="form-group">
        <label for="addrCountry">Country</label>
        <input type="text" id="addrCountry" class="form-control"
               ng-model="vm.newAddress.country" required>
    </div>
    <input type="button" ng-click="vm.addAddress()" value="Save"
           class="btn btn-primary btn-block">
</form>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Street</th>
            <th>Apt#</th>
            <th>State</th>
            <th>Postal</th>
            <th>Country</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="addr in vm.addresses">
            <td>{{addr.name}}</td>
            <td>{{addr.phone}}</td>
            <td>{{addr.street}}</td>
            <td>{{addr.apt}}</td>
            <td>{{addr.state}}</td>
            <td>{{addr.postal}}</td>
            <td>{{addr.country}}</td>
            <td>
                <button class="btn btn-danger btn-sm"
                        ng-click="vm.deleteAddress(addr.id)">delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<h3 id="paymentMethods">Payment Methods</h3>
<button class="btn btn-sm btn-default"
        ng-click="vm.showAddPaymethod = !vm.showAddPaymethod">add paymethod
</button>
<form ng-if="vm.showAddPaymethod">
    <div class="form-group">
        <label for="payType">Credit Card Type</label>
        <select id="payType" class="form-control" ng-model="vm.newPaymethod.creditType">
            <option value="visa">VISA</option>
            <option value="mastercard">MasterCard</option>
            <option value="discovery">Discovery</option>
            <option value="amex">AmericanExpress</option>
        </select>
        <label for="payNumber">Card Number</label>
        <input type="text" id="payNumber" class="form-control"
               ng-model="vm.newPaymethod.cardNumber">
        <label for="payValidDate">Valid Date</label>
        <input type="text" id="payValidDate" class="form-control"
               ng-model="vm.newPaymethod.validDate">
        <label for="payHolder">Card Holder</label>
        <input type="text" id="payHolder" class="form-control"
               ng-model="vm.newPaymethod.cardHolder">
    </div>
    <input type="button" ng-click="vm.addPayMethod()" value="Save"
           class="btn btn-primary btn-block">
</form>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Card Holder</th>
            <th>Credit Type</th>
            <th>Card Number</th>
            <th>Valid Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="paymethod in vm.paymethods">
            <td>{{paymethod.cardHolder}}</td>
            <td>{{paymethod.creditType}}</td>
            <td>{{paymethod.cardNumber}}</td>
            <td>{{paymethod.validDate}}</td>
            <td>
                <button class="btn btn-danger btn-sm"
                        ng-click="vm.deletePayment(paymethod.id)">delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
